/tercerizzario-backend/tercerizzario-api/target/
/tercerizzario-service/tercerizzario-service-supplier/target/
/tercerizzario-service/tercerizzario-service-supplier/nbproject/
/tercerizzario-service/tercerizzario-service-server/target/
/tercerizzario-service/tercerizzario-gateway/target/
/tercerizzario-service/tercerizzario-profession/target/
/tercerizzario-service/service-locator/nbproject/
/tercerizzario-service/service-locator/target/