/tercerizzario-backend/tercerizzario-api/target/
/tercerizzario-service/tercerizzario-service-supplier/target/
/tercerizzario-service/tercerizzario-service-supplier/nbproject/
/tercerizzario-service/tercerizzario-service-server/target/
/tercerizzario-service/tercerizzario-gateway/target/
/tercerizzario-service/tercerizzario-profession/target/
/tercerizzario-service/service-locator/nbproject/
/tercerizzario-service/service-locator/target/
/tercerizzario-service/tercerizzario-service-profession/target/
/tercerizzario-service/tercerizzario-service-locator/nbproject/
/tercerizzario-service/tercerizzario-service-locator/target/
/tercerizzario-service/tercerizzario-commons-lib/target/
/tercerizzario-service/tercerizzario-service-gateway/target
/apps
/tercerizzario-service/tercerizzario-service-supplier-client/target/
/tercerizzario-service/tercerizzario-hub-config/nbproject/
/tercerizzario-service/tercerizzario-service-hub-config/nbproject/
/tercerizzario-service/tercerizzario-service-hub-config/target/